@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #4200ff;
  --color-secondary: #01a400;
  --color-text-primary: #404040;
  --color-text-secondary: #a7a7a7;
  --color-text-light-gray: #b4b4b4;
  --color-grayey: #787887;

  --font-poppins: Poppins, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* to remove the input type number toggler  */

/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.clippedImage {
  clip-path: inset(0px 0px 4px 0px);

  @media screen and (max-width: 768px) {
    clip-path: inset(0px 0px 4px 0px);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background-color: #d7d7d7f5;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  transition: all 10.3s ease;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 10.3s ease;
  background-color: var(--color-primary);
}

.hero_animation {
  background: linear-gradient(
    148.44deg,
    hsla(213, 76%, 53%, 0.45),
    10.41%,
    hsla(0, 0%, 100%, 0) 89.25%
  );
  animation: changeBackgroundColor 8s infinite alternate;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

.scale-btn-animation {
  scale: 1.5;
  animation: changeScale infinite 1s alternate ease-in-out;
}

@keyframes changeScale {
  0%,
  100% {
    scale: 1.5;
  }
  50% {
    scale: 1;
  }
}

.animate-scroll {
  animation: scrolling 20s linear infinite;
}

.d {
  background-image: url("../public//assets/banner.jpg");
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.online-indicator {
  animation: scale-indicator 1s infinite alternate ease-in-out;
}

@keyframes scale-indicator {
  0%,
  100% {
    scale: 1.5;
  }
  50% {
    scale: 1;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#1568e5, 0) 0,
      rgba(#3f72bf, 0.2) 20%,
      rgba(#457bcd, 0.5) 60%,
      rgba(#4284e8, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
