@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #4200ff;
  --color-secondary: #01a400;
  --color-text-primary: #404040;
  --color-text-secondary: #a7a7a7;
  --color-text-light-gray: #b4b4b4;
  --color-grayey: #787887;

  --font-poppins: Poppins, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* to remove the input type number toggler  */

/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.clippedImage {
  clip-path: inset(0px 0px 4px 0px);

  @media screen and (max-width: 768px) {
    clip-path: inset(0px 0px 4px 0px);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 6px;
}

/* track */
::-webkit-scrollbar-track {
  background-color: #d7d7d7f5;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  transition: all 10.3s ease;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 10.3s ease;
  background-color: var(--color-primary);
}

.hero_animation {
  background: linear-gradient(
    148.44deg,
    hsla(213, 76%, 53%, 0.45),
    10.41%,
    hsla(0, 0%, 100%, 0) 89.25%
  );
  animation: changeBackgroundColor 8s infinite alternate;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

.scale-btn-animation {
  scale: 1.5;
  animation: changeScale infinite 1s alternate ease-in-out;
}

@keyframes changeScale {
  0%,
  100% {
    scale: 1.5;
  }
  50% {
    scale: 1;
  }
}

.animate-scroll {
  animation: scrolling 20s linear infinite;
}

.d {
  background-image: url("../public//assets/banner.jpg");
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.online-indicator {
  animation: scale-indicator 1s infinite alternate ease-in-out;
}

@keyframes scale-indicator {
  0%,
  100% {
    scale: 1.5;
  }
  50% {
    scale: 1;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#1568e5, 0) 0,
      rgba(#3f72bf, 0.2) 20%,
      rgba(#457bcd, 0.5) 60%,
      rgba(#4284e8, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border {
  background: linear-gradient(90deg, #01a400, #4200ff, #01a400);
  background-size: 200% 200%;
  animation: borderAnimation 3s linear infinite;
  box-shadow: 0 0 0 2px transparent;
}

.animate-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: inherit;
  border-radius: inherit;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.7;
}

@keyframes spin-border {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.spinning-border {
  position: relative;
  border: 4px solid transparent; /* Invisible by default */
  border-radius: 9999px;
}

.spinning-border::before {
  content: "";
  position: absolute;
  inset: -4px; /* Match border thickness */
  border-radius: inherit;
  padding: 4px; /* Match border thickness */
  background: conic-gradient(
    from var(--angle),
    #3b82f6,
    /* Color 1 (blue) */ #4200ff,
    /* Color 2 (pink) */ #01a400 /* Loop back to color 1 */
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spin-border 2s linear infinite;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* track */
.chat-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* handle */
.chat-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px; /* Rounded corners */

  background: var(--color-gray-200);
  transition: all 10.3s ease;
}

.textarea-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.textarea-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px; /* Rounded corners */

  background: var(--color-gray-200);
  transition: all 10.3s ease;
}

.textarea-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 10px 0;
}
